<div class="sidebar">
    <div class="toggle-btn">
        <span></span>
        <span></span>
        <span></span>

    </div>
    <div class="links">
        <a routerLink="climatiseur">
            <i class="fa-regular fa-snowflake"></i>
            Climatisation
        </a>
        <a routerLink="compresseur">
            <i class="fa-solid fa-minimize"></i>
            Compresseur
        </a>
        <a routerLink="serveur">
            <i class="fa-solid fa-minimize"></i>
            Serveur
        </a>
        <a routerLink="ria">
            <i class="fa-solid fa-smog"></i>
            RIA
            </a>
            <a routerLink="press-dechet">
                <i class="fa-solid fa-trash-can"></i>
                Press Déchet
                </a>
                <a routerLink="local-bache">
                    <i class="fa-solid fa-sink"></i>
                    Local Bache a Eau
                    </a> 
                    <a routerLink="local-inflamable">
                        <i class="fa-solid fa-shop-lock"></i>
                        Local Inflamable
                        </a>          
                        <a routerLink="eclirage-usin">
                            <i class="fa-solid fa-prescription-bottle"></i>
                            Eclirage Usine
                            </a>  
                            <a routerLink="det">
                                <i class="fa-solid fa-screwdriver-wrench"></i>
                                Det,INCENDIE
                                </a>        
    </div>
</div>