<app-nav></app-nav>
<mat-tab-group class="hey">
    <mat-tab label="First">
        <div class="card">
            <p class="title">Notification List</p>


            <div class="user__container">
                <div class="user">
                    <div class="image"></div>
                    <div class="user__content">
                        <div class="text">
                            <span class="name">Name</span>
                            <p class="username">@New_Message</p>
                        </div>
                        <button class="follow">Read</button>
                    </div>

                </div>




            </div>
            <a class="more" href="#">See more</a>
        </div>
    </mat-tab>
    <mat-tab label="Second">

        <div class="card1">
            <span class="title">Leave a Comment</span>
            <form class="form">
                <div class="group">
                    <input placeholder="" type="text" required="">
                    <label for="name">Name</label>
                </div>
                <div class="group">
                    <input placeholder="" type="email" id="email" name="email" required="">
                    <label for="email">Email</label>
                </div>
                <div class="group">
                    <textarea placeholder="" id="comment" name="comment" rows="5" required=""></textarea>
                    <label for="comment">Comment</label>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>




    </mat-tab>

</mat-tab-group>