<mat-toolbar  color="primary">
  <span *ngIf="authenticated">Welcome, {{ user?.name }}</span>
  <button class="Btn" *ngIf="authenticated" (click)="logout()">
    <div class="sign">
      <svg viewBox="0 0 512 512">
        <path
          d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
        </path>
      </svg>
    </div>
    <div class="text">Logout</div>
  </button>




</mat-toolbar>

<mat-tab-group  [selectedIndex]="defaultTab">
  <mat-tab label="First">
    <div class="one-div">
      <div class="wrapper">
        <div class="card-switch">
          <label class="switch">
            <input type="checkbox" class="toggle">
            <span class="slider"></span>
            <span class="card-side"></span>
            <div class="flip-card__inner">

              <!-- Login error message -->

              <div class="flip-card__front">
                <div class="title">Log-In</div>
                <!-- Login Form -->
                <form  class="flip-card__form" (submit)="login(email.value, password.value)">

                  <div class="alert alert-danger" role="alert" *ngIf="loginError">Incorrect email or password. Please
                    try again.</div>

                  <input class="flip-card__input" #email name="email" placeholder="Email" type="email">
                  <input class="flip-card__input" #password name="password" placeholder="Password" type="password">
                  <button class="flip-card__btn">LogIn</button>
                </form>

              </div>
              <div class="flip-card__back">
                <div class="title">Sign up</div>
                <form class="flip-card__form" action="">
                  <div *ngIf="signUpSuccess" class="alert alert-success" role="alert">Sign-up successful! You can now
                    log in.</div>

                  <input class="flip-card__input" placeholder="Name" type="name">
                  <input class="flip-card__input" name="email" placeholder="Email" type="email">
                  <input class="flip-card__input" name="password" placeholder="Password" type="password">
                  <button class="flip-card__btn">Confirm!</button>
                </form>
              </div>
            </div>
          </label>
        </div>
      </div>


    </div>
  </mat-tab>
  <mat-tab label="Second" [disabled]="!authenticated">
    <div class="one-div">
      <div class="glow-text">STAR Assurance</div>
      <div class="mycards">

        <div class="card">
          <div class="card-details">
            <p class="text-title">Equipement</p>
            <p class="text-body">"Tu peux obtenir l'état des équipements ici."</p>
          </div>
          <button class="card-button" routerLink="/equipement">More info</button>
        </div>
        <div class="card">
          <div class="card-details">
            <p class="text-title">Rapport</p>
            <p class="text-body">"Tu peux trouver les rapports ici"</p>
          </div>
          <button class="card-button" routerLink="/rapport">More info</button>
        </div>
        <div class="card">
          <div class="card-details">
            <p class="text-title">Statistique</p>
            <p class="text-body"> "Les statistiques de ce jour"</p>
          </div>
          <button class="card-button" routerLink="/statistique">More info</button>
        </div>
        <div class="card">
          <div class="card-details">
            <p class="text-title">Notification</p>
            <p class="text-body">Les observations et les remarques des techniciens sont disponibles ici"</p>
          </div>
          <button class="card-button" routerLink="/natification">More info</button>
        </div>

      </div>



    </div>
  </mat-tab>
  <mat-tab label="Third" [disabled]="!authenticated">
    <div class="one-div">

      <div class="form-container">
        <div class="form">
          
          <input placeholder="Name" type="text" class="input">
          <input placeholder="Email" id="mail" type="email" class="input">
          <textarea placeholder="write your email" rows="10" cols="30" id="message" name="message" class="textarea"></textarea>
          <div class="button-container">
            <div class="send-button">Send</div>
            <div class="reset-button-container">
              
            </div>
          </div>
        </div>
      </div>


    </div>
  </mat-tab>
</mat-tab-group>